<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <p>Pig Latinizer!:</p>
    <p><%=@piglatinized_text.piglatin_result%></p>
  </body>
</html>