<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer</title>
  </head>
  <body>
    <h1>Pig Latinizer</h1>
    <h1>Pig Latinizer!:</h1>
    <p><%=@piglatinized_text.piglatinize%></p>
  </body>
</html>



<h1>Pig Latinizer!:</h1>
<p><%=@piglatinized_text.piglatinize%></p>